.main {
    margin: 0px 0px 0px 20px;
    color: gray;
}
.accessory {
    font-size: 24px;
    color: gray;
    margin: 0px 0px 20px 20px;
}
.radioInput {
    margin: 0px 20px 0px 0px;

}

.loader {
    --height-of-loader: 4px;
    --loader-color: #e20000;
    width: 60%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
   }
   
   .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
   }
   
   @keyframes moving {
    50% {
     width: 100%;
    }
   
    100% {
     width: 0;
     right: 0;
     left: unset;
    }
   }