@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");



.bgCategories {
}

.categoriesContainer {
  max-width: 370px;
  max-height: 500px;
  margin-left: 40px;
  overflow: auto;
}

.categoryItem {
  border-radius: 3px;
  border-bottom: 2.5px solid rgb(131, 0, 0);
  font-size: 20px;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.image {
  margin-left: 5px;
  width: 40px;
  height: 40px;
}

.itemName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 24px;
  margin-left: 10px;
}