@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

.main {
  height: 86vh;
  font-family: "Montserrat";
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../../images/plataFon.jpg);
  background-size: cover;
}

.categoriesContainer {
  max-width: 350px;
  max-height: 500px;
  margin-left: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.categoryItem {
  border-bottom: 2px solid rgb(131, 0, 0);
  font-size: 20px;
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.image {
  width: 40px;
  height: 40px;
}

.itemName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 24px;
  margin-left: 10px;
}
